 @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital@0;1&family=Roboto:ital,wght@1,300;1,400&display=swap');

 :root {
    --primary--color:#A6243E;
    --secondary--color:#9E5454;
    --accent1--color:#B09290;
    --accent2--coor:#E3B1B1;
      
    --heading-font:'Mooli',serif;
    --paragraph-font:'Poppins',serif;
    
    --headline-color-on-white: #A6243E;  
  --headline-color-on-color: white;  
  --paragraph-color-on-white: #A6243E; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color:  #A6243E ;
  --nav-link-color: white;
  --nav-background-color:  #A6243E;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #9E5454 ;
 }

 body {
  font-family:var(--paragraph-font);
 max-width: 960px;
  padding: 20px;
 }

 h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary--color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }

  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
