*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header, .grid, footer{
 max-width: 840px;
 margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: steelblue;
    padding: 1rem;
}

nav a {
    flex: 1 1 auto;
    color: white;
    padding: 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #333;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

main {
    max-width: 900px;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}


aside img {
    width: 200px;
    height: auto;
}

li{
    margin-bottom: 1rem;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 150px;
}

footer {
    margin: 10px auto;
    border-top: 1px solid rgba(0, 0, 0,.1);
    padding: 10px;
    background-color: #bbb;
}

footer p{
     text-align: center;
     font-size: 0.8rem;
     color: rgba(0, 0, 0,.1);
}

 /* Class Selectors */
.grid{
display: grid;
grid-template-columns: 1fr 3fr;
grid-gap: 1rem;
}
 .box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
 }

  .indent {
    padding-left: 2rem;
  }

 